body {
    font-family: Arial, sans-serif;
    background-color: #d6d6d6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
}

h1 {
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-inline: 10px;
}

a {
    color: #4f0404;
    margin: 0 10px;
    text-decoration: none;
}

img {
    width: 300px;
    height: auto;
}

a:hover {
    text-decoration: underline;
    color: #f17676;
}